nav {
     background-color: #C12127;
     color: rgba(255,255,255,0.8);
     padding-top: 15px;
     height: 20px;
 }

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}
.top-links li a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);

}


#infoNpm{
    background-size: cover;
}




#create{
    height: 600px;
    width: 100%;
}

.tabs{
    height: 300px;
    width: 33%;
    float: right;
}

header{
    width: 100%;
    height: 400px;
    background-image: url(images/city-scape.svg);
    color: white;
    background-color: rgb(32, 82, 111);
    display: flex;
}

#headerTextContent{
    position: relative;
    top: 125px;

}

#headerButton{
    background-color: rgb(240, 146, 51);
    border-radius: 25%;

}

#cityscpe{
    display: inline-block;
    float: right;

}

#imgnpm{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 20px;
    height: 40spx;
    width: 70px;
}

.header input[type=text]{
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    background-color: transparent;
}


#create{

}

#infoNpm{
    background-image: url(images/forklift.svg);
    height: 300px;
    color: rgba(255,255,255,0.8);
}

#info{
    position: relative;
    top: 100px;
    left: 50px;
}

#infoNpm button {
    background-color: rgb(49, 68, 88);
    border-radius: 40%;
}

#orgs{
    background-color: rgb(39, 53, 71);
}