body{
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}

nav {
     background-color: #C12127;
     color: rgba(255,255,255,0.8);
     padding: 15px;
     height: 20px;
     font-size: .9em;
 }

.heart{
    padding: 15px;
    font-size: 1.9em;
}

.top-left{
    display: inline-block;
}

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}
.top-links li a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);

}


#infoNpm{
    background-size: cover;
}




#create{
    height: 600px;
    width: 100%;
}

.tabs{
    text-align: center;
    height: 300px;
    width: 33%;
    float: left;
}

header{
    width: 100%;
    height: 400px;
    background-image: url(images/city-scape.svg);
    color: white;
    background-color: rgb(32, 82, 111);
    display: flex;
}

#headerTextContent{
    position: relative;
    top: 125px;

}

#headerButton{
    background-color: rgb(240, 146, 51);
    border-radius: 25%;

}

#cityscpe{
    display: inline-block;
    float: right;

}

#imgnpm{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 20px;
    height: 40px;
    width: 70px;
}

.header input[type=text]{
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    background-color: transparent;
}


#create{
    background-color: white;
}

#infoNpm{
    background-image: url(images/forklift.svg);

    color: rgba(255,255,255,0.8);
}

#info{
    font-size: 1.3em;
    position: relative;
    top: -50px;
    left: 140px;
}

#infoNpm button {
    background-color: rgb(49, 68, 88);
    border-radius: 40%;
}

#orgimg{
    margin-left: 100px;
    display: inline-block;
    float: left;
}
#orgs{
    background-color: rgb(39, 53, 71);
}

#infoOrgs{
    color: rgba(255, 255, 255,0.8);
    text-align: center;
    font-size: 1.3em;


}

#button a{
    background-color: red;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem .85rem;
}

ul {
    text-align: center;
    list-style-position: inside;
}
a{

    color: #fff;
    text-decoration: none;
}
/*------------------------------------------------------ */

#infoNpm a{
    background-color: #333;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem .85rem;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 75px 0;
}

.section-text{
    font-size: 1.9em;
    text-align: center;
}

.find-link{
    background-color: red;
    color: red;
    text-decoration: none;
}